@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

$base-color: #ffffff;
$main-color: #fe5b37;
$sub-color: #bd472c;
$accent-color: #5e2dfb;
$accent-button-color: linear-gradient(265deg, #b224ef, #1b21d9 60%);
$header-height: 100px;
$header-height-small: 78px;
$main-font: 'Montserrat', sans-serif;
$sub-font: 'Lato', sans-serif;
$main-font-color: #02060c;